#main {
    text-align: center;
    background: radial-gradient(farthest-corner at 100% 100%, #F5E3E0, #E8B4BC, #D282A6, #6E4555, #3A3238);
    background-size: 200% 200%;
    animation-name: gradient;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    width: 100%;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#main > img {
    width: 30%;
}
#main > h1 {
    color:white;
    font-family: sans-serif;
}